<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753712778521-boffh5i855aaomm4vjugdv8kjj0dl4um.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753712778521-boffh5i855aaomm4vjugdv8kjj0dl4um</string>
	<key>API_KEY</key>
	<string>AIzaSyBNa-RKCWTD9QkHcxx-PJCcRPLoIsp1ASk</string>
	<key>GCM_SENDER_ID</key>
	<string>753712778521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coopharma.app2</string>
	<key>PROJECT_ID</key>
	<string>coopharma-panel</string>
	<key>STORAGE_BUCKET</key>
	<string>coopharma-panel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753712778521:ios:d0f46212808f7e7c8ac988</string>
</dict>
</plist>